.modal_delete {
   background-color: tomato;
   color: #fff;
   padding: 0.2em 1em;
   font-size: 1.1em;
   line-height: 1.25;
   margin-top: 1.5em;
   margin-right: 0.3em;
}
.btn_delete {
   text-align: center;
   padding: 0.5em 1em;
   margin-left: 0.5em;
   background-color: rgb(252, 112, 112);
   text-transform: uppercase;
   transform: 0.7s ease;
   color: #fff;
   display: block;
   font-size: 1em;
   line-height: 1.25;
}
.btn_ok {
   text-align: center;
   padding: 0.5em 1em;
   margin-left: 0.5em;
   background-color: rgb(17, 14, 14);
   text-transform: uppercase;
   transform: 0.7s ease;
   color: #fff;
   display: block;
   font-size: 1.2em;
   line-height: 1.25;
}
.btn_post {
   display: block;
   background: rgb(18, 114, 114);
   color: #fff;
   text-transform: uppercase;
   margin-left: 1em;
   padding: 0.8em;
   transition: 0.5s;
}
.btn_comment {
   display: block;
   background: rgb(204, 228, 228);
   color: rgb(18, 114, 114);
   text-transform: uppercase;
   margin-left: 1em;
   padding: 0.8em;
   transition: 0.5s;
   font-weight: bold;
   border: 2px solid rgb(18, 114, 114);
   font-size: 0.8em;
}
.btn_comment_control {
   display: block;
   background: rgb(204, 228, 228);
   color: rgb(18, 114, 114);
   text-transform: uppercase;
   margin-left: 0.5em;
   padding: 0.3em;
   transition: 0.5s;
   font-weight: bold;
   font-size: 0.8em;
}
.btn_todos {
   display: block;
   background: rgb(243, 142, 142);
   color: rgb(121, 40, 40);
   text-transform: uppercase;
   margin-left: 1em;
   padding: 0.8em;
   transition: 0.5s;
   font-weight: bold;
   border: 2px solid rgb(187, 39, 39);
   font-size: 0.8em;
}
.todo_check {
   background-color: rgb(61, 59, 58);
   color: #fff;
   font-size: 1em;
   border-radius: 50%;
   width: 1.5em;
   height: 1.5em;
}
.todo_isdone {
   background-color: rgb(221, 127, 127);
   padding: 0.5em;
   text-transform: uppercase;
   color: rgb(110, 11, 11);
   font-weight: bold;
}
