html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   /* font-size: 100%; */
   font: inherit;
   vertical-align: baseline;
   box-sizing: border-box;
}
/* // / HTML5 display-role reset for older browsers / */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
   font-family: "Poppins", sans-serif;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: "";
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
a {
   text-decoration: none;
}
img {
   display: block;
}
em {
   font-style: normal;
}
button {
   outline: none;
   border: none;
   padding: 0;
   margin: 0;
   cursor: pointer;
}
.container {
   margin: 0 auto;
   width: 80rem;
}
.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}
.min-height {
   min-height: 80vh;
}
.title {
   font-size: 5em;
   font-weight: bold;
   font-style: italic;
   text-align: center;
}
.m2em {
   margin: 2em 0;
}
.goback {
   display: inline-block;
   font-size: 0.8em;
   font-style: italic;
   margin: 3em 0;
   font-weight: 600;
   color: rgb(109, 105, 105);
   border-bottom: 1px solid #000;
}

/* slick-slider*/
.slick-slider {
   position: relative;
   overflow: hidden;
   margin: 0 auto;
   width: 80rem;
   padding-top: 2em;
}
.slick-track {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.slick-arrow {
   /* text-indent: -9999px; */
   width: 3.5rem;
   position: absolute;
   top: 0;
   z-index: 2;
   font-size: 0.7em;
   background: rgb(7, 92, 52);
   border-radius: 1em;
   color: #fff;
   padding: 0.5em;
   opacity: 0.7;
   transition: 0.7s;
}
.slick-prev {
   left: 0;
}

.slick-next {
   right: 0;
}
.slick-arrow:hover {
   opacity: 1;
}

/* category */
.category p {
   text-transform: uppercase;
   font-weight: bold;
   width: 10em;
   border: 1px solid black;
   border-bottom: 0;
   padding: 0 0.5em;
   margin-right: 1em;
}
.category p:last-of-type {
   border-bottom: 1px solid #000;
}
.user_button {
   margin-top: 1em;
}
.user_button a {
   padding: 0.5em 1em;
   margin-left: 0.5em;
   background-color: rgb(252, 112, 112);
   text-transform: uppercase;
   transform: 0.7s ease;
   color: #fff;
}
.user_button button:hover {
   opacity: 0.8;
}

.detail_button {
   text-align: center;
   margin-top: 8em;
}

.detail_button button {
   padding: 1em 2em;
   font-weight: bold;
}
