.post {
   border: 1px solid #000;
   margin: 1em 0;
   padding: 1em;
   min-width: 80rem;
}
.postWrap p {
   line-height: 1.5;
}
.postWrap p:first-of-type {
   text-indent: 0.5em;
   font-size: 0.8em;
   text-align: right;
}
.postWrap p:nth-of-type(3) {
   font-size: 1.1em;
   font-weight: bold;
   text-transform: uppercase;
}
.postButton {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
/* .postButton button {
   display: block;
   cursor: pointer;
   background: rgb(18, 114, 114);
   color: #fff;
   text-transform: uppercase;
   margin-left: 1em;
   padding: 0.8em;
   transition: 0.5s;
} */
.postButton a:hover {
   opacity: 0.85;
}

.postWrap {
   color: #000;
}

.commentWrap {
   border: 2px solid rgb(200, 221, 207);
   padding: 1em;
   margin-top: 1em;
}
.commentBox {
   border-top: 1px solid rgb(167, 187, 171);
   margin-top: 1em;
   padding-top: 0.5em;
}
.commentUser .commentInputWrap {
   display: inline-block;
   margin-right: 0.5em;
   font-size: 0.9em;
   line-height: 1.25;
}
.commentInputWrap input {
   border: none;
   outline: none;
   color: rgb(209, 56, 56);
   font-weight: bold;
   width: 15em;
}

.commentBody .commentInputWrap {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   margin-top: 1em;
}
.commentForm label {
   font-size: 0.8em;
}
.commentForm textarea {
   width: 75%;
}
